.addUser{
    width: 25%;
    background-color: white;
    margin: 50px auto;
    padding: 50px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.065);
    border-radius: 5px;
}


.addUserForm {
    margin-top: 20px;
}

.addUserForm .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addUserForm .inputGroup label{
    margin-bottom: 5px;
    background-color: white;
}


.addUserForm .inputGroup input{
    margin-bottom: 8px;
    padding: 10px;
    outline: none;
}

.addUserForm .inputGroup button{
    border: 0;
    color: white;
    background-color: purple;
    font-weight: 400;
    outline: none;
    padding: 13px;
    cursor: pointer;
    border-radius: 5px;

}

.addUser h3{
    margin-top: 10px;
    font-size: larger;
    background-color: white;
}